html,body{
    font-size:62.5%;
    width: 100%;
    height: 100%;
    background-color: #C7EFCD;
}
div,p,a{
    font-size:20px;
    font-size:2rem;
}
/*main*/
.content{
    padding: 0;
    background-color: #C7EFCD;
    /*background-color: rgba(150,230,161,0.5);*/
}
.background{
    width: 100%;
    height: 100%;
    background-color: #D3F4D9;
}
.background2{
    width: 100%;
    height: 100%;
    background-color: #D3F4D9;
}



.header{
    height: 6rem;
    background-color: #96e6a1 !important;
    /*padding: 0;*/
    /*position: absolute !important;*/
    /*top : 45px !important;*/
    /*right : 0;*/
    /*bottom : 45px !important;*/
    /*left : 0 !important;*/
}
.footer{
    background-color: #96e6a1 !important;
    height: 6rem;
}
.headbtn{
    /*position: relative;*/
    top: 50%; /*偏移*/
    transform: translateY(50%);
    /*height: 2.5rem;*/
    /*width: 0;*/
    /*font-size: 1rem !important;*/
}




.item{
    position: relative;
    /*display: inline;*/
    margin-top: 2rem;
    margin-bottom: 2rem;
    left: 0;
    right: 0;
    height: 15rem;
    background-color: #E4F5E9;
    width: 100%;
}
.itemimg{
    /*position: relative;*/
    /*top: -2.2rem;*/
    /*float: right;*/

    position: absolute;
    top: 0rem;
    right: 0;

    display: inline;

    height: 100%;
}
.itemtitle{
    position: absolute;
    left: 1rem;
    top: 1rem;
}
.itemprice{
    position: absolute;
    left: 1rem;
    bottom: 1rem;
}
.detailimgbox{
    width: 80%;
    /*height: 90%;*/
    text-align: center;
    position: absolute;
}
.detailimg{
    /*position: relative;*/
    /*display: inline;*/
    width: 100%;
    height: 100%;
}
.detailtxt{
    /*position: absolute;*/
}




.addbtn{
    position: absolute;
    z-index: 10;
    top: 0;
}
.footbtn{
    display: inline;
    float: left;
    position: absolute;
    /*left: 2rem;*/
    /*border: 2px red solid;*/
    top: 0.5rem;
    height: 5rem;
    width: 5rem;
}
.btn1{
    left: 16%;
    transform: translateX(-50%);
}
.btn3{
    left: 50%;
    transform: translateX(-50%);
    /*text-align: center;*/
}
.btn4 {
    left: 84%;
    transform: translateX(-50%);
}



#total{
    position: absolute;
    padding: 1rem;
    bottom: 6rem;
    width: 100%;
    height: 5rem;
    background-color: #E4F5E9;
}
.totalprice{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.paybtn{
    position: absolute;
    /*height: 100%;*/
    right: 2rem;
}
.ui-btn-g{
    font-weight: bold;
    background-color: #96e6a1;
}
.cartitem{
    position: absolute;
    bottom: 0.7rem;
}
.cartplusbtn{
    float: left;
    left: 5.2rem;
    display: inline;
}
.cartminusbtn{
    float: left;
    left: 2.2rem;
    display: inline;
}
.cartnum{
    /*float: left;*/
    position: relative;
    top: 1rem;
    display: inline;
}






.profilephoto{
    position: absolute;
    top: 12rem;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    height: auto;
}
.photo{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.profileitems{
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    height: auto;
}
.profileitem{
    position: relative;
    /*display: inline;*/
    /*margin-top: 2rem;*/
    margin-bottom: 1rem;
    width: 100%;
    height: 4rem;
    background-color: #E4F5E9;
}
/*.profileitem1{*/
    /*top: 18rem;*/
/*}*/
.itemicon{
    position: relative;
    float: left;
    left: 2rem;
    /*top: 50%;*/
    transform: translateY(30%);
    height: 70%;
    width: auto;
}
.itemtext{
    position: relative;
    left: 5rem;
    /*top: 50%;*/
    transform: translateY(30%);
}









.panelitems{
    position: absolute;
    top: 20%;
    left: 3rem;
    width: 100%;
    height: auto;
}
.panelitem{
    position: relative;
    /*display: inline;*/
    /*margin-top: 2rem;*/
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    width: 80%;
    height: 4rem;
    border-bottom: 1px #BBBBBB solid;
    /*background-color: #E4F5E9;*/
}
.panelicon{
    left: 0 !important;
}











.aboutustxt{
    text-align: center;
}