html,body{
    font-size:62.5%;
    width: 100%;
    height: 100%;
    background-color: #C7EFCD;
}
div,p,a{
    font-size:20px;
    font-size:2rem;
}
/*main*/
.content{
    padding: 0;
    background-color: #C7EFCD;
    /*background-color: rgba(150,230,161,0.5);*/
}
.background{
    width: 100%;
    height: 100%;
    background-color: #C7EFCD;
}
.header{
    height: 6rem;
    background-color: #96e6a1 !important;
    /*padding: 0;*/
    /*position: absolute !important;*/
    /*top : 45px !important;*/
    /*right : 0;*/
    /*bottom : 45px !important;*/
    /*left : 0 !important;*/
}
.footer{
    background-color: #96e6a1 !important;
    height: 6rem;
}
.headbtn{
    /*position: relative;*/
    top: 50%; /*偏移*/
    transform: translateY(50%);
    /*height: 2.5rem;*/
    /*width: 0;*/
    /*font-size: 1rem !important;*/
}
.item{
    position: relative;
    /*display: inline;*/
    margin-top: 2rem;
    margin-bottom: 2rem;
    left: 0;
    right: 0;
    height: 15rem;
    background-color: #EEE;
    width: 100%;
}
.itemimg{
    /*position: relative;*/
    /*top: -2.2rem;*/
    /*float: right;*/

    position: absolute;
    top: 0rem;
    right: 0;

    display: inline;

    height: 100%;
}
.itemtitle{
    position: relative;
    top: 1rem;
}

/*buttons*/
.addbtn{
    position: absolute;
    z-index: 10;
    top: 0;
}
.footbtn{
    display: inline;
    float: left;
    position: absolute;
    /*left: 2rem;*/
    /*border: 2px red solid;*/
    top: 0.5rem;
    height: 5rem;
    width: 5rem;
}
.btn1{
    left: 16%;
    transform: translateX(-50%);
}
.btn3{
    left: 50%;
    transform: translateX(-50%);
    /*text-align: center;*/
}
.btn4 {
    left: 84%;
    transform: translateX(-50%);
}
.cartitem{
    position: absolute;
    bottom: 0.7rem;
}
.cartplusbtn{
    float: left;
    left: 5.2rem;
    display: inline;
}
.cartminusbtn{
    float: left;
    left: 2.2rem;
    display: inline;
}
.cartnum{
    /*float: left;*/
    position: relative;
    top: 1rem;
    display: inline;
}